.post__title {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  word-wrap: break-word;
  white-space: pre-line;
}
.post__yes {
  height: 30px !important;
  /* width: 10px !important; */
  /* background-color: #007ee5 !important; */
  background: linear-gradient(45deg, #e76f51 30%, #f4a261 90%);
  box-shadow: 0.5px 0.5px 3px 0.1px grey;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 2px;
  border-radius: 5px;
  margin-top: 5px;
}
.post__no {
  height: 30px !important;
  /* width: 150px !important; */
  /* background-color: #007ee5 !important; */
  background: linear-gradient(45deg, #e76f51 30%, #f4a261 90%);
  box-shadow: 0.5px 0.5px 3px 0.1px grey;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 2px;
  margin-top: 5px;
}
a {
  text-decoration: none;
  color: blue;
}
